.pill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:normal;
    padding: 14px 40px 14px 20px;
    gap: 7px;
    position: relative;
    width: 229px;
    height: 58px;
    left: 20px;
    top: 20px;
    background: #FFFFFF;
    border-radius: 5000px;
  
}

.pilltext{
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #262626;

}

.pillicon{

    position: relative;
    width: 30px;
    height: 30px;


}